body {
  background-color: #484041;
  width: 100vw;
  height: 100vh;
  margin-top: -21px;
  margin-left: -10px;
  text-align: center;
}

.big-text {
  color: #79aea3;
}

.middle-text {
  color: #70ee9c;
}
