mat-grid-tile {
  border: 1px solid black;
  width: 100vw;
  box-sizing: border-box;
}

mat-form-field {
  margin-top: 2rem;
  width: 30%;
  margin-left: 35%;
}

.remove-icon {
  width: 30px;
  background-color: #0a3a21;
  color: #1196be;
  border-radius: 50%;
}


.button_1 {
  width: 180px;
  margin-left: 40%;
  margin-top: 2rem;
  color: white;
  font-weight: bold;
  background-color: #0a3a21;
  background-image: linear-gradient(
    45deg,
    #0a3a21 0%,
    #0f9751 50%,
    #1196be 90%
  );
  text-transform: uppercase;
  border-radius: 30px;
  letter-spacing: 2px;
  transition: 0.3s;

  &:hover {
    background-position: 0 0;
  }
}
