.container {
  border: 2px solid #0a3a21;
  border-radius: 10px;
  margin-bottom: 10px;
}

.delete-button {
  position: absolute;
  margin-left: 75%;
  margin-top: -50px;
  background-color: #0a3a21;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
