<app-active-customers></app-active-customers>
<app-deleted-customers></app-deleted-customers>
<app-add-customer></app-add-customer>
<!-- <app-comment-logic></app-comment-logic> -->

<!-- <button
  mat-icon-button
  (click)="toggleDarkTheme()"
  class="theme-toggle"
  aria-label="Toggle Dark Theme"
>
  <mat-icon>{{ isDark ? "dark_mode" : "light_mode" }}</mat-icon>
</button>

<button mat-raised-button color="primary">Raised</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>

<button mat-button color="primary" (click)="changeIsOpen()">
  Change animation
</button>

<div class="box-container" [@openClose]="isOpen ? 'open' : 'closed'">
  <p>This box is {{isOpen}}</p>
</div> -->
